<%= form_for(@analyzer_file) do |f| %>
  <% if @analyzer_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@analyzer_file.errors.count, "error") %> prohibited this analyzer_file from being saved:</h2>

      <ul>
      <% @analyzer_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.file_field :file %>
    <%= f.submit %>
  </div>
<% end %>
